@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --radius: 10px;
    --operator-blue: rgb(48, 199, 219);
    --display-padding-right: 5px;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-height: 500px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: var(--operator-blue);
    font-family: 'Questrial', sans-serif;
    color: rgba(37, 37, 37, 0.781);
    padding: 0 10px;
}

.header {
    height: calc(100% - 560px);
    min-height: 50px;
    max-height: 180px;
}

.calc-container {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
}

.result {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1px 1px 1px;
    border-bottom: 0px solid var(--operator-blue);
}

#track {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 10%;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 70%;
    width: 100%;
    font-size: 300%;
    color: rgba(37, 37, 37, 0.781);
    padding-top: 10px;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    background-color: rgb(236, 236, 236);
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
}

.displayContent {
    padding-right: var(--display-padding-right);
}

.initial0 {
    padding-right: var(--display-padding-right);
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    height: 100%;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    height: 100%;
    margin: 1px 0 1px 0;
}

.fifth-row {
    margin-bottom: 1px;
}

button {
    outline: none;
    height: 100%;
    width: 25%;
    margin: 0 1px 0 1px;
    border-radius: 1px;
    background-color: rgb(122, 122, 122);
    border: 0;
    padding: 0;
    font-size: 150%;
    color: #fff;
    font-family: 'Questrial', sans-serif;
}


#zero, #decimal, #return {
    margin: 0 1px 0 1px;
}

#zero {
    width: 148px;
    padding: 0 30px 0 30px;
    border-bottom-left-radius: var(--radius);
}

#decimal {
    width: 73px;
}

.operator, #return {
    background-color: var(--operator-blue);

}

#return {
    width: 73px;
    border-bottom-right-radius: var(--radius);
}

.number:hover, #sign:hover, #clearAll:hover, #clear:hover, #decimal:hover {
    opacity: 0.7;
}

.operator:hover, #return:hover {
    opacity: 0.7 !important;
}

button:active {
    transform: scale(0.95);
}
