@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

:root {
    --bottom-border-radius: 10px;
    --operator-blue: rgb(48, 199, 219);
}

div {
    border: 0px solid black;
}

main {
    display: flex;
    justify-content: center;
}

.calc-container {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;

    /*background-color: rgba(44, 44, 44, 0.884);*/
    border-radius: 10px;
    padding: 5px;
}

.result {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 1px 1px 1px;
    border-bottom: 0px solid var(--operator-blue);
}

#track {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    height: 30%;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    font-size: 300%;
    color: rgba(37, 37, 37, 0.781);

    font-family: 'Questrial', sans-serif;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    height: 100%;
}

.first-row, .second-row, .third-row, .fourth-row, .fifth-row {
    display: flex;
    height: 100%;
    margin: 1px 0 1px 0;
}

.fifth-row {
    margin-bottom: 1px;
}

button {
    outline: none;
    height: 100%;
    width: 25%;
    margin: 0 1px 0 1px;
    border-radius: 1px;
    background-color: rgb(122, 122, 122);
    border: 0;
    padding: 0;
    font-size: 150%;
    color: #fff;
    font-family: 'Questrial', sans-serif;
}


#zero, #decimal, #return {
    margin: 0 1px 0 1px;
}

#zero {
    width: 148px;
    padding: 0 30px 0 30px;
    border-bottom-left-radius: var(--bottom-border-radius);
}

#decimal {
    width: 73px;
}

/* .number {
    background-color: rgb(94, 94, 94);
} */

.operator, #return {
    background-color: rgb(48, 199, 219);

}

#return {
    width: 73px;
    border-bottom-right-radius: var(--bottom-border-radius);
}

.number:hover, #sign:hover, #clearAll:hover, #clear:hover, #decimal:hover {
    background-color: rgb(165, 165, 165);
}

.operator:hover, #return:hover {
    background-color: rgb(35, 220, 245);
}

button:active {
    transform: scale(0.95);
}
